<section class="relative bg-[#5BC2E7] text-black overflow-hidden z-20">
  <div id="slider" class="relative w-full h-screen md:h-[675px]">
    <div class="absolute inset-0 transition-opacity duration-700 opacity-100 slide">
      <img src="assets/images/slides/banner-01-d.webp" alt="Desktop Slide 1" class="hidden md:block w-full h-full object-cover">
      <img src="assets/images/slides/banner-01-m.webp" alt="Mobile Slide 1" class="block md:hidden w-full h-full object-cover">
    </div>
    <div class="absolute inset-0 transition-opacity duration-700 opacity-0 slide">
      <img src="assets/images/slides/banner-02-d.webp" alt="Desktop Slide 2" class="hidden md:block w-full h-full object-cover">
      <img src="assets/images/slides/banner-02-m.webp" alt="Mobile Slide 2" class="block md:hidden w-full h-full object-cover">
    </div>
  </div>

  <!-- Slider Dots -->
  <div class="absolute bottom-4 left-1/2 transform -translate-x-1/2 flex slider-dots space-x-2">
    <div class="active w-4 h-4 bg-black rounded-full"></div>
    <div class="w-4 h-4 bg-gray-500 rounded-full"></div>
  </div>
</section>
  